.card {
  // FUNCTIONALITY
  position: relative;
  height: 50rem;

  // PERSPECTIVE TO ENABLE 3D ROTATION
  perspective: 150rem;

  @include respond(tab-port) {
    height: auto;
    border-radius: 0.5rem;
    background-color: $color-white;
    box-shadow: $primary-box-shadow;
  }

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: $primary-box-shadow;

    @include respond(tab-port) {
      height: auto;
      position: relative;
      border-radius: 0.5rem;
      box-shadow: none;
    }

    &-back {
      transform: rotateY(180deg);

      @include respond(tab-port) {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }

      // SPECIAL DESIGN FOR CARD NUM-1
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $light-green,
          $dark-green
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }

    &-front {
      background-color: $color-white;
    }
  }

  // HOVER EFFECT FOR BOTH SIDES
  &:hover &__side {
    &-front {
      transform: rotateY(180deg);

      @include respond(tab-port) {
        transform: rotateY(0);
      }
    }

    &-back {
      transform: rotateY(360deg);

      @include respond(tab-port) {
        transform: rotateY(0);
      }
    }
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    // background-size: clip-path;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../img/nat-5.jpg);
    }
    &-2 {
      background-image: linear-gradient(
          to right bottom,
          $light-green,
          $dark-green
        ),
        url(../../img/nat-6.jpg);
    }
    &-3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../img/nat-7.jpg);
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
    &-span {
      &--1 {
        padding: 1rem 1.5rem;
        // DEFINE EACH LINE AS A NEW CONTENT BOX
        box-decoration-break: clone;
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }
      &--2 {
        padding: 1rem 1.5rem;
        // DEFINE EACH LINE AS A NEW CONTENT BOX
        box-decoration-break: clone;
        background-image: linear-gradient(
          to right bottom,
          rgba($light-green, 0.85),
          rgba($dark-green, 0.85)
        );
      }
      &--3 {
        padding: 1rem 1.5rem;
        // DEFINE EACH LINE AS A NEW CONTENT BOX
        box-decoration-break: clone;
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: auto;
      text-align: center;
      font-size: 1.5rem;

      @include respond(tab-port) {
        padding: 1rem 3rem;
      }

      li {
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: solid 1px #eee;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;

    @include respond(tab-port) {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 6rem 0 4rem;
    }
  }
  &__price-box {
    margin-bottom: 8rem;
    color: $color-white;

    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }
  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;

    @include respond(tab-port) {
      font-size: 4rem;
    }
  }

  // =============================================================================
}
