*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // DEFINE THE DEFAULT SIZE AS 10PX
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) {
    font-size: calc(9 * 100% / 16); // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  padding: 30px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $gray-color;

  @include respond(tab-port) {
    padding: 0;
  }
}
