.align-center {
  text-align: center;
}

.mb-80 {
  margin-bottom: 8rem;
}
.mt-80 {
  margin-top: 8rem;
}
.m-auto {
  margin-right: auto;
  margin-left: auto;
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-10 {
  margin-bottom: 0.5rem;
}
.bg-red {
  background-color: red;
}
