.align-center {
  text-align: center;
}

.mb-80 {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 4rem !important;
  }
}

.mb-40 {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.mt-80 {
  margin-top: 8rem !important;
  @include respond(tab-port) {
    margin-top: 4rem !important;
  }
}
.m-auto {
  margin-right: auto;
  margin-left: auto;
}
.mb-12 {
  margin-bottom: 1.2rem !important;
  @include respond(tab-port) {
    margin-bottom: 0.6rem !important;
  }
}
.mb-10 {
  margin-bottom: 0.5rem !important;
  @include respond(tab-port) {
    margin-bottom: 0.3rem !important;
  }
}
.bg-red {
  background-color: red;
}
